<% unless @forums.nil? %>
<% @forums[0].each do |category| %>
<section class="ink-grid">
  <div class="column-group forum-list">
    <div class="heading">
      <h4><%= category.title %></h4>
    </div>
    <% unless @forums[category.id].nil? %>
      <% @forums[category.id].each do |forum| %>
      <div class="forum">
        <div class="forum-name all-60 tiny-100 small-100 medium-50">
          <h5><%= link_to fa_icon "comment-o" %> <%= link_to forum.title %></h5>
          <span class="note forum-text hide-tiny">
            <%= forum.description %>
          </span>
        </div>
        <div class="forum-stats medium all-10 hide-tiny small-30 medium-10">
          0 threads<br />
          0 replies
        </div>
        <div class="forum-date medium all-30 tiny-100 small-70 medium-40">
          last post one hour ago by <a href="#">mikelat</a></br />
          in <a href="#">mikelat is an amazing guy</a>
        </div>
        <div class="cb clearfix"></div>
      </div>
      <% end %>
    <% end %>
  </div>
</section>
<% end %>
<% end %>