<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <%= image_tag "forum_read.png" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to "A subforum" %></h4>
          Forum description go
        </div>
      </li>
    </ul>
  </div>
</div>